
LaunchPad/Saved/AutoScreenshot.png

LaunchPad/Saved/Logs/LaunchPad.log

LaunchPad/Saved/Config/Windows/EditorPerProjectUserSettings.ini

LaunchPad/Saved/Config/CrashReportClient/UE4CC-Windows-88A17577453DFDBDD962F1B8F4197B4E/CrashReportClient.ini

LaunchPad/Saved/Logs/

LaunchPad/Intermediate/CachedAssetRegistry.bin
